.DisplayContainer {
	width: calc(100vw - 1.5em);
	height: 45em;
	background-color: $light-blue;
	margin-bottom: 2rem;

	@media (min-width: 43em) {
		width: 30em;
	}

	header {
		height: 8em;
		width: 100%;
		background-color: $dark-blue;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-end;
		padding: 2rem;

		h2 {
			width: 100%;
			text-align: center;
			font-size: 1.25em;
			color: #fff;
		}
	}

	&--logo {
		background-color: $dark-blue;
		border-radius: 50%;
		border: 5px solid $primary-red;
		width: 6em;
		height: 6em;
		position: relative;
		bottom: -70px;
		left: -10px;

		@media (min-width: 43em) {
			width: 7.5em;
			height: 7.5em;
			bottom: -80px;
			left: 10px;
		}

		img {
			height: 5.5em;
			@media (min-width: 43em) {
				height: 7em;
			}
		}
	}

	&--main {
		height: calc(100% - 15rem);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		margin-top: 3.5rem;
	}
}
