.Login {
	&--main {
		padding: 0 2em;
		width: 100%;

		@media (min-width: 43em) {
			padding: 0;
		}
	}

	button {
		background-color: $dark-blue;
		width: 10rem;
		height: 3rem;
		color: $primary-red;
		border: none;
		outline: none;
		font-size: 1.25rem;
	}
}
